.container-fluid {
    height: 400px;
    width: 100%;
    alt: Responsive image;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/103949692_3339005699443883_30036544399356191_o.jpg?_nc_cat=105&_nc_sid=cdbe9c&_nc_ohc=JIOB43rG9NYAX_nRAz4&_nc_ht=scontent-dfw5-1.xx&oh=27746e8046cbafaea13213c6ddf77309&oe=5F92D2F4);
  }