<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <!-- Filler -->
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <img src="http://www.harvestcity.church/img/harvest-city-letter_screen.png" alt="Responsive image" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <br>
            <h3 style="color: white;">We Have a New Name!</h3>
            <label style="color: white;">
                On September 9, 2018, Pastor Jonathan delivered this historic announcement at our Legacy Service held at
                Trinity Church. We have officially changed our name from Lord of the Harvest Church to Harvest City
                Church.
            </label>
            <a href="http://www.harvestcity.church/docu/letter_name-change_nocrop.pdf" class="btn btn-info">Learn More</a>
        </div>
        <div class="col-md-1">
            <!-- Filler -->
        </div>
    </div>
</div>