<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <h1 style="color: white;">Welcome To Harvest City Church</h1>
    <h4 style="color: white;">9:00am & 11:15am | Limited Seating</h4>
    <!-- Button trigger modal -->
    <br>
    <br>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        Save Your Seat
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-fluid"
                        src="https://mcusercontent.com/b825b407e656863a45f84716f/images/571c1846-66a4-40b8-a172-fe159fc2079a.png"
                        alt="Responsive image">
                    <br>
                    <br>
                    <p class="text-justify">
                        To reserve your seats, go ahead an click on the button below and fill out the needed information
                        to process your request. It has been months since we last hosted a in-door service, out team is
                        looking forward to seeing your wonderful face once more. If you have any questions please call
                        our
                        number any weekday from 8am - 5pm. Lets worship together, lets struggle together, lets do this
                        together.
                    </p>
                    <p class="text-left">
                        We ask for each attendee to do a <a rel="stylesheet"
                            href="https://open.texas.gov/uploads/files/organization/opentexas/OpenTexas-Checklist-Church-Worship-Attendees.pdf">health
                            screening</a>
                        . We'll make sure that every health precaution is taken into consideration. Aside from the
                        initial health
                        screening every attendee is required to wear a mask at all times.
                    </p>
                    <br>
                    <img class="img-fluid"
                        src="https://mcusercontent.com/b825b407e656863a45f84716f/images/b93420a6-e37f-4a62-a4d4-7d1e971d7d32.png"
                        alt="Responsive image">
                    <br>
                    <br>
                    <p class="text-justify">
                        Due to us having limited capacity we ask that every person that intends to come to any of
                        service
                        reserve a seat ahead of time. This allows our team to be aware on how many people to expect in
                        order
                        to fufill CDC guidelines. Please spread the word to relatives or anyone you know of that is
                        planning
                        on attending the in person service. To accomadate even more people we also have a over-flow room
                        that
                        safely holds 40 extra people on top of the 80 in the main sanctuary.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-info"
                        href="https://pastorstoolbox.com/save-a-seat/a16b283a-3a81-5683-a978-c4c6bc36a97f/485/5703">Reserve
                        Seats</a>
                </div>
            </div>
        </div>
    </div>
</div>