<div class="bg">
    <h1 class="text-center display-2" style="color: rgb(240, 235, 235); margin-top: 165px;">About Harvest City Church
    </h1>
</div>
<div class="row">
    <div class="col-md-2">
        <!-- Filler -->
    </div>
    <div class="col-md-8 text-center">
        <br>
        <h2>Welcome to Harvest City Church!</h2>
        <hr>
        <p class="h5 font-weight-light">
            Thank you for taking the time to learn more about our church. You’ll discover that we are more than just a
            weekend service. We are a family that connects, grows, and builds together. From the moment you walk in, no
            matter your age, background, or life story, you’ll feel like you’re home. Our passion is to provide a place
            where people just like you can have a life-changing encounter with God, develop meaningful relationships,
            discover your purpose, and make an eternal impact in the world around you.
        </p>
        <br>
        <a class="btn btn-dark" [routerLink]="['/about-us']">Learn More</a>
        <br>
        <br>
    </div>
    <div class="col-md-2">
        <!-- Filler -->
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <h2 class="display-4" style="text-align: center;">Ministries</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="Life Groups are designed to connect people to the life of the church. These small groups meet throughout the week in homes and other locations."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/69260460_2673045012706625_1863412088681005056_o.jpg?_nc_cat=106&_nc_sid=cdbe9c&_nc_ohc=NBe_LmxZ8NoAX-PVV8F&_nc_oc=AQnUhW9gU83RarMaZp6bOqFW2AmRK_ePeKMX_yOSnyxBLIprXnjcnTMi9S_Gk_R6t6_zlFd2e1KTUqFzRYBhLRRQ&_nc_ht=scontent-dfw5-2.xx&oh=950e6afb6cacb844b0563c704c7f7d90&oe=5F911467">
            <div class="card-body">
                <p class="card-text text-center">Lifegroups</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="A community of worshipers who are vocalists, musicians, and songwriters who are passionate about leading others into God’s presence through worship."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/82929897_2994609180550205_8321603087093465088_o.jpg?_nc_cat=104&_nc_sid=cdbe9c&_nc_ohc=c4aBYeFtFZUAX9YfpOE&_nc_ht=scontent-dfw5-2.xx&oh=cfe892b5b99ed912f9858e08cff68bfc&oe=5F92ECDB">
            <div class="card-body">
                <p class="card-text text-center">Worship</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="Our goal for the kids to encounter God at church and to bring him wherever they go. We strive on molding young minds so that they can continue the mantle of Christ that he has placed over them."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/80587904_2907557932588664_5010361800718286848_o.jpg?_nc_cat=102&_nc_sid=cdbe9c&_nc_ohc=v9bLns1NmwcAX9DIuTL&_nc_ht=scontent-dfw5-2.xx&oh=de30093a0c3b564df2a9467366849718&oe=5F923A0B">
            <div class="card-body">
                <p class="card-text text-center">Kids</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="The vision for the youth ministry is for the students to experience God in such a way that they won't want anything else. Focuses of this ministry is connections, community, and intimacy with the father. We hope that the students will get equipped and encouraged to be lights in their own homes and schools. Age is but a number, especially when God is involved."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/75635913_2794003807277411_2961521126167019520_o.jpg?_nc_cat=101&_nc_sid=cdbe9c&_nc_ohc=6QrMQHj0y8cAX9x5rxJ&_nc_ht=scontent-dfw5-1.xx&oh=986da7091fbee9f85ef107bb56792aee&oe=5F924D5F">
            <div class="card-body">
                <p class="card-text text-center">Youth</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="From ages 18-30, this ministry focuses on creating a community of single young adults that want something more with God. We focus more on the heart and their position with God, and work to assisting the YA's with whatever they need."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/55549672_2392763827401413_100305267526205440_o.jpg?_nc_cat=102&_nc_sid=cdbe9c&_nc_ohc=bGiBT2Ko3HUAX9rgxsF&_nc_ht=scontent-dfw5-2.xx&oh=60d34532b2cc905910aa2f6519a53331&oe=5F920DB2">
            <div class="card-body">
                <p class="card-text text-center">Young Adults</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="Our women’s ministry host events throughout the year that embrace femininity, maximize strengths, and wisely steward God-given influence."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/87144034_3061888843822238_4061504672064602112_o.jpg?_nc_cat=103&_nc_sid=cdbe9c&_nc_ohc=fWcGHq0RTeMAX8R_6t8&_nc_ht=scontent-dfw5-1.xx&oh=e0b9996930eb13ad67e4f4ae85e26155&oe=5F915D2A">
            <div class="card-body">
                <p class="card-text text-center">Women</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="Our men’s ministry holds various group meetings, activities, and events that empower men to impact their work place, communities, and their families for the kingdom of God."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/72640420_2764076710270121_3637961965432733696_o.jpg?_nc_cat=110&_nc_sid=cdbe9c&_nc_ohc=KUPEZIStohUAX-nr0Lj&_nc_ht=scontent-dfw5-1.xx&oh=3f12badd0138c340e635546dca0e7e9f&oe=5F943029">
            <div class="card-body">
                <p class="card-text text-center">Men</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="Our Marriage ministries seeks to help establish, strengthen, and restore marriages. We believe that your marriage was called to simply survive but thrive"
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/74350725_2762537773757348_3502298216433451008_o.jpg?_nc_cat=109&_nc_sid=cdbe9c&_nc_ohc=xqdZB3Kx31IAX-SKbyN&_nc_ht=scontent-dfw5-2.xx&oh=162ec173601755f40724d5e3b47c2d43&oe=5F92E8CE">
            <div class="card-body">
                <p class="card-text text-center">Marriage</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card textOverImage"
            data-text="A ministry for our senior community that provides love, service and prayer with the purpose of encouraging, strengthening, and growing in relationship with the Lord and others."
            style="width: auto;">
            <img class="card-img-top"
                src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/70742136_2720811841263275_140514351919398912_o.jpg?_nc_cat=111&_nc_sid=cdbe9c&_nc_ohc=vXY46qe1UKIAX_IQ5Ue&_nc_ht=scontent-dfw5-1.xx&oh=a6b9d61fedc0aa25e8e703f9279a1596&oe=5F9292DB">
            <div class="card-body">
                <p class="card-text text-center">Seniors</p>
            </div>
        </div>
    </div>
</div>