<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-3">
            <!-- Filler -->
        </div>
        <div class="col-md-6 justify-text-left">
            <img src="https://images.subsplash.com/image.jpg?id=8811c33e-988c-42d2-b629-7e4cda123726&w=400&h=225" alt="Responsive image" class="float-left img-thumbnail">
            <br>
            <p class="h2">Latest Sermon</p>
            <p class="h5">"Endgame"</p>
            <p class="h6 font-weight-light">Pastor Jonathan Clatt</p>
            <p class="h6 font-weight-light">September 20, 2020</p>
            <a href="https://subsplash.com/harvestcitychurch/media">Series: Life in Exile</a>
            <br>
            <a class="btn btn-dark" href="http://www.harvestcity.church/messages/" style="margin-top: 5px;">Watch Now</a>
        </div>
        <div class="col-md-3">
            <!-- Filler -->
        </div>
    </div>
</div>
