<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <!-- Filler -->
        </div>
        <div class="col-md-4">
            <p class="h6 font-weight-light text-left">Get Connected</p>
            <h3>We have a ministry for you and your family</h3>
            <hr>
            <p class="h6 font-weight-normal">
                We are a growing church, but we don't want you to just be another face in the place. We are not just an
                organization that holds service on the weekend. We are a family that connects, grows and builds
                together. We want to help find you a place to grow with us.
            </p>
            <a [routerLink]="['/about-us']" class="btn btn-dark">Ministries</a>
        </div>
        <div class="col-md-3">
            <img src="http://www.harvestcity.church/img/900x650-Diana%20&%20Baby.jpeg" alt="Responsive image" class="img-thumbnail">
        </div>
        <div class="col-md-3">
            <img src="http://www.harvestcity.church/img/900x650-worshipping.jpeg" alt="Responsive image" class="img-thumbnail">
        </div>
        <div class="col-md-1">
            <!-- Filler -->
        </div>
    </div>
</div>