<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h5 style="color: white;">Connect With Us: </h5>
            <span>
                <a href="https://www.instagram.com/harvestcitysa/" class="fa fa-instagram"></a>
                <a href="https://www.youtube.com/channel/UCZ3A1klhpmcAPm0wy7c3tfA" class="fa fa-youtube"></a>
                <a href="https://www.facebook.com/HarvestCitySA/" class="fa fa-facebook"></a>
            </span>
        </div>
        <div class="col-md-2" style="color: white;">
            <small>Copyright &copy; HarvestCity Church</small>
        </div>
    </div>
</div>

